

body{
    float: left;
}
.gam1{
    width: 400px;
background-color: rgb(184, 171, 196);
height: 40%;
float: left;
margin: auto;
position: relative;
left: 40%;
}
.gam2{
    width: 40%;
    background-color: blue;
    height: 40%;
}